.body{
        width: 100%;
        height: 95vh;
        background-image: url("candi.");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
.java{
    
}

